.elementor-drop-cap-letter {
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 60px;
}

/* latest work start */


.project-area .button-group button{
    background: transparent;
    border: none;
    text-transform: uppercase;
    font: normal 500 16px/130px var(--roboto);
    padding: 10px;
}



.project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/* latest work end */
